<template name="producePost">
    <form class="main form page">
        <div class="form-group">
            <label class="control-label" for="url">Produce</label>
            <div class="controls">
                <input name="produce" id="produce" type="text" value="" placeholder="Kale, Carrots, Apples,..." class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="title">Price per Pound</label>
            <div class="controls">
                <input name="price" id="price-per-pound" type="text" value="" placeholder="" class="form-control"/>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</template>