<template name="produceListFilter">
    <div class="input-group">
        <ul>
            <li>
                <span class="input-checkbox">
                    <input type="checkbox" aria-label="...">
                </span>
                Vegetable
            </li>
            <li>
                <span class="input-checkbox">
                    <input type="checkbox" aria-label="...">
                </span>
                Fruit
            </li>
            <li>
                <span class="input-checkbox">
                    <input type="checkbox" aria-label="...">
                </span>
                Dairy
            </li>
        </ul>
    </div>

    <div class="posts">
        {{#each posts}}
            {{> produceItem}}
        {{/each}}
    </div>

</template>