<template name="produceSubmit">
    <form class="main form page">
        <h1>Preparing to Harvest Crop? </h1>

        <div class="form-group {{errorClass 'produce'}}">
            <div class="controls">
                <input name="produce" id="produce" type="text" value="" placeholder="What are you selling? be specific!" class="form-control"/>
                <span class="help-block">{{errorMessage 'produce'}}</span>
            </div>
        </div>

        <div class="form-group {{errorClass 'price'}}">
            <div class="controls">
                <input name="price" id="price" type="number" min="0" step="0.01" value="" placeholder="How much are you selling it for? (per lb)" class="form-control"/>
                <span class="help-block">{{errorMessage 'price'}}</span>
            </div>
        </div>

        <div class="form-group {{errorClass 'category'}}">
            <div class="controls">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span id="category-title">{{categoryTitle}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li class="category" id="blah"><a href="">Vegetable</a></li>
                        <li class="category"><a href="">Fruit</a></li>
                        <li class="category"><a href="">Dairy</a></li>
                    </ul>
                </div>
                <span class="help-block">{{errorMessage 'category'}}</span>
            </div>
        </div>

        <div class="form-group hidden {{errorClass 'type'}}" id="subCat">
            <div class="controls">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span id="subcategory-title">{{subCategoryTitle}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu hidden" id="Vegetable" aria-labelledby="dropdownMenu1">
                        <li class="type"><a href="">Carrots</a></li>
                        <li class="type"><a href="">Squash</a></li>
                        <li class="type"><a href="">Tomatoes</a></li>
                        <li class="type"><a href="">Potatoes</a></li>
                        <li class="type"><a href="">Kale</a></li>
                        <li class="type"><a href="">Avocado</a></li>
                    </ul>
                    <ul class="dropdown-menu hidden" id="Fruit" aria-labelledby="dropdownMenu1">
                        <li class="type"><a href="">Apples</a></li>
                        <li class="type"><a href="">Oranges</a></li>
                        <li class="type"><a href="">Peaches</a></li>
                        <li class="type"><a href="">Pear</a></li>
                        <li class="type"><a href="">Grapes</a></li>
                        <li class="type"><a href="">Strawberries</a></li>
                    </ul>
                    <ul class="dropdown-menu hidden" id="Dairy" aria-labelledby="dropdownMenu1">
                        <li class="type"><a href="">Milk</a></li>
                        <li class="type"><a href="">Cheese</a></li>
                        <li class="type"><a href="">Yogurt</a></li>
                    </ul>
                </div>
                <span class="help-block">{{errorMessage 'type'}}</span>
            </div>
        </div>

        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</template>