<template name="produceListFilter">
    <div class="filter-list">
        <h3>Filter by:</h3>
        <ul>
            <li>
                {{#if currentCategory 'vegetable'}}
                <a href="{{pathFor 'produceListFilter' _filter='vegetable'}}">
                    <div class="accompany-icon">

                    </div>
                    Vegetables
                </a>
                    {{else}}

                    <div class="accompany-icon">

                    </div>
                    Vegetables
                {{/if}}

            </li>
            <li>
                {{#if currentCategory 'fruit'}}
                    <a href="{{pathFor 'produceListFilter' _filter='fruit'}}">
                        <div class="accompany-icon">

                        </div>
                        Fruit
                    </a>
                {{else}}

                    <div class="accompany-icon">

                    </div>
                    Fruit
                {{/if}}
            </li>
            <li>
                {{#if currentCategory 'dairy'}}
                    <a href="{{pathFor 'produceListFilter' _filter='dairy'}}">
                        <div class="accompany-icon">

                        </div>
                        Dairy
                    </a>
                {{else}}

                    <div class="accompany-icon">

                    </div>
                    Dairy
                {{/if}}
            </li>
        </ul>
    </div>

    <div class="posts">
        {{#each posts}}
            {{> produceItem}}
        {{/each}}
    </div>

</template>