<template name="produceListFilter">
    <div class="input-group">
        <ul>
            <li>
                <a href="{{pathFor 'produceListFilter' _filter='vegetable'}}">
                    <div class="accompany-icon">

                    </div>
                    Vegetables
                </a>

            </li>
            <li>
                <a href="{{pathFor 'produceListFilter' _filter='fruit'}}">
                    <div class="accompany-icon">

                    </div>
                    Fruit
                </a>
            </li>
            <li>
                <a href="{{pathFor 'produceListFilter' _filter='dairy'}}">
                    <div class="accompany-icon">

                    </div>
                    Dairy
                </a>
            </li>
        </ul>
    </div>

    <div class="posts">
        {{#each posts}}
            {{> produceItem}}
        {{/each}}
    </div>

</template>