<template name="produceList">
    <div class="sidebar">
        <div class="filter-list">
            <h3>Filter by:</h3>
            {{#each category}}
                <div class="filter-element" id={{this}}>
                    <a class="filter-link" href="{{pathFor 'produceListFilter' _filter=this}}">
                        <div class="accompany-icon">

                        </div>
                        {{this}}
                    </a>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="posts">
        {{#each posts}}
                {{> produceItem}}
        {{/each}}

        {{#if moreResults}}
            <div id="showMoreResults" style="margin-left: 25px;">
                <span class="loading">Loading...</span>
            </div>
        {{/if}}
    </div>

</template>