<template name="profilePage">
    <div class=".col-sm-5 .col-md-4">
        <div class="thumbnail" id="prof-pic">
            <img src="" alt="Profile Picture">
        </div>
        <div class="snippet">
            <div class="thumbnail" id="prof-info">
                <ul class="ui-profile-list">
                    <li></li>
                </ul>
            </div>
        </div>
        {{#if farmExists}}
            <div class="snippet">
                <h2><small>Farm: </small></h2>
                <div class="thumbnail" id="farm-info">

                </div>
            </div>
        {{/if}}
    </div>
    <div class=".col-sm-7 .col-md-8">
        {{#each activities}}
            <a href="{{pathFor 'producePage'}}">
                {{> activityItem}}
            </a>
        {{/each}}
    </div>
</template>