<template name="profilePage">
    <div class="prof-info">
        <div class="thumbnail" id="prof-pic">
            <div class="name-tag">
                {{this}}
            </div>
        </div>
        <div class="snippet">
            <div class="thumbnail" id="prof-info">
                <ul class="ui-profile-list">
                    <li></li>
                </ul>
            </div>
        </div>
        {{#if farmExists}}
            <div class="snippet">
                <h2><small>Farm:</small></h2>
                <div class="thumbnail" id="farm-info">
                    <div class="name-tag">
                        {{thisFarm}}
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
    <div class="post-history">
        <ul class="nav nav-tabs history-tab">
            <li class="active">
                <a data-toggle="tab" href="">Farm Posts</a>
            </li>
            <li >
                <a data-toggle="tab" href="">User Activity</a>
            </li>

        </ul>
        <div class="tab-detail">
            {{#each activities}}
                <a href="{{pathFor 'producePage'}}">
                    {{> activityItem}}
                </a>
            {{/each}}
        </div>

    </div>
</template>