<template name="header">
    <nav class = "navbar navbar=default" role="navigation">
        <div class="navbar-header">
            <button typ="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'produceList'}}">Farmers to Families</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{pathFor 'produceList'}}">Produce</a>
                </li>
                <li>
                    <a href="{{pathFor 'farmersList'}}">Farms</a>
                </li>
                {{#if currentUser}}
                    <li>
                        <a href="{{pathFor 'profilePage' _username=profileRoute}}">Profile</a>
                    </li>
                    {{#if currentFarmer}}
                        <li>
                            <a href="{{pathFor 'produceSubmit'}}">Post Produce</a>
                        </li>
                    {{/if}}
                    <li>
                        <a href="{{pathFor 'farmerSubmit'}}">Local Farmer? Register here!</a>
                    </li>
                    <li class="dropdown">
                        <!--notifications-->
                    </li>
                {{/if}}
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input type="text" id="search-text" name="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" disabled>
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    {{> loginButtons}}
                </li>
            </ul>
        </div>
    </nav>
</template>